@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/* Общие стили */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.main__container {
    flex: 1 1 auto;
}
.main-inner{
    flex: 1 1 auto;
}
.visually-hidden {
    display: none;
}

.title-main {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.box-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.box-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.button {
    display: inline-block;
    background-color: #756157;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
}

.light-button {
    display: inline-block;
    font-family: "PT Sans";
    background-color: #82B3D3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

/* Header */
.header-page{
    padding: 0 80px;
}
.header-page__list {
    list-style-type: none;
}

.header-page__nav {
    display: flex;
    align-items: center;
    height: 64px;
}

.header-page__logo {
    margin-right: 28px;
}

.header-page__list {
    padding: 0;
}

.header-page__list:first-of-type .header-page__item:not(:last-child) {
    margin-right: 32px;
}

.header-page__list:last-of-type .header-page__item:last-child {
    margin-left: 33px;
}

.header-page__list:last-of-type .header-page__item:first-child {
    margin-right: 26px;
}

.header-page__link {
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.header-page__link-search {
    display: block;
    background: url("../images/header/search.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-page__link-favorites {
    display: block;
    background: url("../images/header/favorites.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-page__btn {
    padding: 8px 34px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

}

.header-page__list {
    display: flex;
    align-items: center;
}

.header-page__list:last-child {
    margin-left: auto;
}

.header-page__list:last-of-type .header-page__item:nth-child(2) .header-page__link {
    position: relative;
}

.header-page__number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    background-color: #7DB54F;
    border-radius: 50%;
    left: 11px;
    top: -7px;
}

/* Promo */
.promo {
    background: url("../images/main/background-promo.jpg") no-repeat;
    background-size: 100% auto;
    text-align: center;
    background-color: #E2F0F9;
}

.promo__text {
    width: 620px;
    margin: 0 auto;

}

.promo__subtext {
    width: 655px;
    margin: 0 auto;
}

/* Advantages */
.advantages {
    text-align: center;
}

.advantages__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    width: 400px;
    min-height: 385px;
}

.advantages__item:nth-child(2) {
    width: 800px;
}

.advantages__item:nth-child(6) {
    width: 800px;
}

.advantages__image {
    display: block;

}

.advantages__item:first-child,
.advantages__item:last-child {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages__item:first-child .box-subtitle,
.advantages__item:last-child .box-subtitle {
    color: inherit;
}

.advantages__item:nth-child(3),
.advantages__item:nth-child(5) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-child(4) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width: 230px;
}

/* Service */
.service {
    text-align: center;
}

.service__item {
    width: 400px;
    min-height: 385px;
}

.service__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.service__title {
    width: 505px;
    margin: 0 auto;
}

.service__description {
    width: 490px;
    margin: 0 auto;
}

.service-wrapper {
    width: 230px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.service__image-home {
    background-image: url(../images/main/home-icon.svg);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}

.service__image-food {
    background-image: url(../images/main/burger-icon.svg);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
}

.service__image-box {
    background-image: url(../images/main/box-icon.svg);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height:76px;
}

/* Search */
.search {
    text-align: center;
}

.search__description {
    width: 592px;
    margin: 0 auto;
}

.search__link {
    text-decoration: none;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
}

/* Subscribe */
.subscribe {
    text-align: center;

}

.subscribe_bg {
    background-image: url(../images/main/subscribe-background.png);
    color: #ffffff;
}

.subscribe__btn {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
}
.subscribe__text{
    width:475px;
    margin: 0 auto;
}
/* Social*/
.social {
    display: flex;
    justify-content: space-between;
    padding:0 80px;
}

.social__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 25px;
}

.social__number {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

/* Catalog */
/* header and breacrumbs */
.main__header {
    background-image: url(../images/main/filtres-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #ffffff;
    margin: 0 auto;
    background-color: #000000;
    padding: 35px 70px 70px 70px;
}

.main__title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;

}

.breadcrumbs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.breadcrumbs-link {
    Font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
    background-image: url(../images/main/breadcrumbs-home.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
}

/* Filters */
.filters__wrapper{
    display: flex;
}

.catalog-filter-group:first-child , .catalog-filter-group:nth-child(2){
    width: 150px;
    padding: 0;
    margin: 0;
    border: none;
}
.catalog-filter-group:first-child{
    margin-right: 70px;
}
.catalog-filter-group:nth-child(2){
    margin-right: 140px;
}
.catalog-filter-group:nth-child(3){
    width: 288px;
    border: none;
}
.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.control {
    font-size: 18px;
    line-height: 23px;
}
.filter__wrapper-btn{
    display: flex;
    flex-direction: column;

}
.filter__button {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 50px;
    cursor: pointer;
    color: #ffffff;
}

.filter__button:last-child {
    background-color: transparent;
    border: none;
    font-weight: 700;
}

/* Apartments */
.apartaments{
    width: 1060px;
    margin: 0 auto;
}
.apartments__title {
    font-size: 30px;
    line-height: 36px;
    margin-right: 200px;
}
.apartaments__wrapper{
    display: flex;
    align-items: center;
}
.select-control {
    font-size: 18px;
    line-height: 21px;
    width: 292px;
    height: 49px;
}
.apartments__button {
    display: inline-block;
    width: 16px;
    height: 14px;
    padding: 17px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: #E5E5E5 solid 2px;
    border-radius: 4px;
}

.apartments__button:hover {
    border-color: #000000;
}

.apartments__button:first-of-type {
    background-image: url(../images/main/sorting-icon-1.svg);
    margin-left:auto;
}

.apartments__button:nth-of-type(2) {
    background-image: url(../images/main/sorting-icon-2.svg);
}

.apartments__button:last-of-type {
    background-image: url(../images/main/sorting-icon-3.svg);
}

/* Cards */
.product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.product-card{
    width: 300px;
    padding: 20px;
    border:#E6E6E6 solid 1px;
    border-radius:4px;
}
.product-card__link {
    color: #000000;
    text-decoration: none;
}
.product-card__image{
    display: block;
    margin: 0 auto;
}
.product-card__title {
    font-size: 24px;
    line-height: 28px;
}
.price__wrapper{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.product-card__description {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-price {
    margin-left:auto;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}
.button__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-card-button {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 24px;
    width: 88px;

}

.product-card__favorites {
    display: block;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 20px;
    width: 141px;

}

.product-card__rating-stars {
    display: inline-block;
    background: url(../images/main/card-item/star-icon.svg);
    height: 17px;
}
.product-card__wrapper{
    display: flex;
    align-items: center;
}
.one-star {
    width: 18px;
}

.two-stars {
    width: 36px;
}

.three-stars {
    width: 54px;
}

.four-stars {
    width: 72px;
}

.five-stars {
    width: 90px;
}

.product-card__rate {
    margin-left:auto;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
    padding: 8px 22px;
    background-color: #F2F2F2;
    border-radius: 4px;
}

/* Pagination */
.pagination {
    list-style-type: none;
}

.pagination-item {
    text-align: center;
    display: inline-block;
}

.pagination-link {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 24px;
    background-color: #82B3D3;
    border-radius: 4px;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}
