@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/* Общие стили */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.main__container {
    flex: 1 1 auto;
}

.main-inner {
    flex: 1 1 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title-main {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.box-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.box-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    background-color: #756157;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 700;
    font-family: inherit;
}

.button:hover,
.button:focus {
    background-color: #615048;
    color: #fff !important;
}

.button:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
}

.light-button {
    box-sizing: border-box;
    display: inline-block;
    background-color: #82B3D3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
}

.light-button:hover,
.light-button:focus {
    background-color: #68A2CA;
}

.light-button:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.light-button:disabled,
.button:disabled {
    background-color: #E5E5E5;
    color: #FFFFFF;
}

/* Header */
.header-page {
    padding: 0 80px;
}

.header-page__link--active::after {
    content: "";
    width: 100%;
    position: absolute;
    display: block;
    background-color: #756257;
    height: 2px;
    left: 0;
    margin-right: 34px;
    bottom: 0;

}

.header-page__item {
    position: relative;
}

.header-page__list {
    list-style-type: none;
}

.header-page__nav {
    position: relative;
    display: flex;
    align-items: center;

}

.header-page__logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    z-index: 1;
    display: block;
}

.header-page__logo:hover {
    opacity: 0.8;
}

.header-page__list {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.header-page__list:first-of-type {
    max-width: 440px;
    margin-left: 174px;

}

.header-page__list:first-of-type .header-page__item:not(:last-child) {
    margin-right: 32px;
}

.header-page__list:last-of-type .header-page__item:last-child {
    margin-left: 33px;
}

.header-page__list:last-of-type .header-page__item:first-child {
    margin-right: 26px;
}

.header-page__link {
    display: block;
    padding: 20px 0;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.header-page__link:hover,
.header-page__link:focus {
    color: #756157;
}

.header-page__link:active {
    opacity: 0.3;
}

.header-page__link-search {
    display: block;
    background: url("../images/header/search.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-page__link-search:hover,
.header-page__link-search:focus {
    opacity: 0.6;
}

.header-page__link-favorites:hover,
.header-page__link-favorites:focus {
    opacity: 0.6;
}


.header-page__link-favorites {
    display: block;
    background: url("../images/header/favorites.svg");
    background-size: contain;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-page__btn {

    max-width: 160px;
    padding: 8px 34px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

}

.header-page__list {
    display: flex;
    align-items: center;
}

.header-page__list:last-child {
    margin-left: auto;
}

.header-page__list:last-of-type .header-page__item:nth-child(2) .header-page__link {
    position: relative;
}

.header-page__number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    width: 20px;
    height: 20px;
    background-color: #7DB54F;
    border-radius: 50%;
    left: 8px;
    top: 12px;
}

/* Promo */
.promo {
    position: relative;
    padding-top: 52px;
    padding-bottom: 82px;
    background: url("../images/main/background-promo.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #E2F0F9;
}

.promo::after {
    position: absolute;
    content: url('../images/main/divider.svg');
    display: block;
    bottom: -6px;
    left: 0;

}

.promo__text {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.promo__subtext {
    width: 655px;
    margin: 0 auto;
    margin-bottom: 90px;
}

/* Advantages */
.advantages {

    text-align: center;
    padding-top: 70px;
}

.advantages__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    min-height: 385px;
}

.advantages__item-wide {
    display: flex;
}

.advantages__item-wide-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.advantages__image {
    display: block;
    object-fit: cover;
    height: 100%;
}

.advantages__item:first-child,
.advantages__item:last-child {
    background-color: #82B3D3;
    color: #ffffff;
}

.advantages__item:first-child .box-subtitle,
.advantages__item:last-child .box-subtitle {
    color: inherit;
}

.advantages__title::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 60px;
    height: 2px;
    background-color: #ffffff;

}

.advantages__item:nth-child(2),
.advantages__item:nth-child(4) {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-child(2) .advantages__title::after,
.advantages__item:nth-child(4) .advantages__title::after,
.advantages__item:nth-child(3) .advantages__title::after {
    background-color: rgba(0, 0, 0, 0.3);
}

.advantages__item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages__wrapper {
    position: relative;
    width: 230px;
    display: flex;
    flex-direction: column;
    padding: 90px 85px;
}



/* Service */
.service {
    text-align: center;
    padding-top: 64px;
}

.service__item {
    width: 400px;
    min-height: 385px;
}

.service__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.service__title {
    width: 505px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.service__description {
    width: 490px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.service-wrapper {
    width: 230px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.service__image-home {
    background-image: url(../images/main/home-icon.svg);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    margin-top: 10px;
}

.service__image-food {
    background-image: url(../images/main/burger-icon.svg);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
    margin-top: 10px;
}

.service__image-box {
    background-image: url(../images/main/box-icon.svg);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
    margin-top: 10px;

}

/* Search */
.search {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 96px;
}

.search__title {
    margin: 0;
    margin-bottom: 20px;
}

.search__description {
    width: 592px;
    margin: 0 auto;
    margin-bottom: 62px;
}

.search__link {
    text-decoration: none;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;

}

/* Subscribe */
.subscribe {
    text-align: center;
    padding-top: 96px;
    padding-bottom: 104px;
}

.subscribe__form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 664px;
    font-weight: 400;
}

.subscribe__input {
    flex-grow: 1;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 0;
    padding-left: 20px;
    border-radius: 4px 0 0 4px;
}

.subscribe__input--grey {
    background-color: #F2F2F2;

}

.subscribe__title {
    margin: 0;
    margin-bottom: 20px;
}

.subscribe_bg {
    background-image: url(../images/main/subscribe-background.png);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe__btn {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
    border-radius: 0 4px 4px 0;
}

.subscribe__text {
    width: 475px;
    margin: 0 auto;
    margin-bottom: 54px;
}

/* Social*/
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    min-height: 120px;
}

.social__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    max-width: 190px;

}

.social__item {

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 48px;
    height: 40px;

}

.social__link {
    display: block;
    padding: 10px;

}

.social__link-logo {
    display: block;
    padding: 10px
}

.social__number {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}

.social__number:hover,
.social__number:focus {
    color: #756157;
}

.social__number:active {
    opacity: 0.3;
}

.social__icon-logo {
    fill: #000000;
}

.social__link-logo:hover .social__icon-logo,
.social__link-logo:focus .social__icon-logo {
    fill: #756157;
}

.social__link-logo:active .social__icon-logo {
    opacity: 0.3;
}

.social__link-logo:active {
    opacity: 0.3;
}

.social__icon {
    fill: #83B3D3;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
    fill: #68A2CA;
}

.social__link:active .social__icon {
    opacity: 0.3;
}

/* Catalog */
/* header and breacrumbs */
.main__header {
    background-image: url(../images/main/filtres-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: #ffffff;
    margin: 0 auto;
    background-color: #000000;
    padding: 35px 70px 70px 70px;
}

.main__title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
}

.breadcrumbs-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.breadcrumbs-link {
    Font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-item:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs-item:first-child::after {
    content: url(../images/main/arrow-right.svg);
    display: inline-block;
    width: 8px;
    height: 20px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
    background-image: url(../images/main/breadcrumbs-home.svg);
    box-sizing: border-box;
    display: block;
    padding: 5px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
}

.breadcrumbs-item:first-child .breadcrumbs-link:hover,
.breadcrumbs-item:first-child .breadcrumbs-link:focus,
.breadcrumbs-item:first-child .breadcrumbs-link:active {
    opacity: 0.5;
}

/* Filters */
.filters__wrapper {
    display: flex;
}

.catalog-filter-group:first-child,
.catalog-filter-group:nth-child(2) {
    width: 150px;
    padding: 0;
    margin: 0;
    border: none;
}

.catalog-filter-group:first-child {
    margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
    margin-right: 140px;
}

.catalog-filter-group:nth-child(3) {
    width: 288px;
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.catalog-filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.control {
    display: block;
    font-size: 18px;
    line-height: 23px;
    position: relative;
    padding-left: 32px;

}

.control:hover {
    opacity: 0.7;
}

.control:focus {
    outline: #83B3D3 2px solid;

}

.control-input:focus {
    outline: #83B3D3 2px solid;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 4px;
}

.control input:focus + .control-mark {
    outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 10px;
    content: url(../images/main/tick.svg);
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #3F5E72;
    border-radius: 50%;
    content: "";
}

.control:hover .control-mark {
    opacity: 0.8;
}

.control-input:disabled + .control-mark {
    opacity: 0.8;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 16px;
}

.filter__wrapper-btn {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: end;

}

.filter__button {
    max-width: 190px;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 50px;
    cursor: pointer;
    color: #ffffff;

}

.filter__button:not(:last-child) {
    margin-bottom: 32px;
}

.filter__button:last-child {
    background-color: transparent;
    border: none;
    font-weight: 700;
}

.filter__button:last-child:hover {
    color: rgba(255, 255, 255, 0.6);
}

.filter__button:last-child:focus {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    border-radius: 4px;
    border: 3px solid #83B3D3;
}

filter__button:last-child:active {
    color: rgba(255, 255, 255, 0.3);
}

/* range */
.range-scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: rgba(255, 255, 255)
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-min {
    top: -8px;
    left: 0;
}

.toggle-max {
    top: -8px;
    right: -10px;
}

.range {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
    max-width: 288px;
}

.catalog-filter-label {
    display: flex;
    position: relative;
}

.catalog-filter-label::after {
    position: absolute;
    content: "от";
    color: black;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.7;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.catalog-filter-label:first-of-type::after {
    content: "от";
}

.catalog-filter-label:last-of-type::after {
    content: "до";
}

.range-wrapper-inputs {
    display: flex;
    gap: 2px;
}

.range-input {
    position: relative;
    padding: 12px 20px;
    width: 143px;
    height: 48px;
    box-sizing: border-box;
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border: none;


}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.range-input--from {
    border-radius: 4px 0 0 4px;
}

.range-input--to {
    border-radius: 0 4px 4px 0;
}

.range-input--from::after {
    content: "от";
    display: block;
}

.range-toggle:hover {
    background-color: #68A2CA;
}

.range-toggle:active,
.range-toggle:focus {
    background-color: #68A2CA;
}

/* Apartments */
.apartaments {
    width: 1060px;
    margin: 0 auto;
}

.apartments__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    margin-right: 200px;
}

.apartaments__wrapper {
    display: flex;
    align-items: center;
}

.select-control {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    width: 292px;
    height: 49px;
    appearance: none;
    border: 2px solid #E5E5E5;
    padding: 12px 20px;
    padding-right: 40px;
    border-radius: 4px;
    background-image: url(../images/main/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.select-control:hover {
    border-color: #68A2CA;
}

.select-control:focus {
    border-color: #3F5E72;
}

.apartments__button {
    display: inline-block;
    width: 16px;
    height: 14px;
    padding: 17px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: #E5E5E5 solid 2px;
    border-radius: 4px;
}

.apartments__button:not(:last-of-type) {
    margin-right: 8px;

}

.apartments__button:hover {
    border-color: #000000;
}

.apartments__button:focus {
    outline: none;
    border: 2px #68A2CA solid;
}

.apartments__button:active {
    border-color: #000000;
}

.apartments__button:first-of-type {
    background-image: url(../images/main/sorting-icon-1.svg);
    margin-left: auto;
}

.apartments__button:nth-of-type(2) {
    background-image: url(../images/main/sorting-icon-2.svg);
}

.apartments__button:last-of-type {
    background-image: url(../images/main/sorting-icon-3.svg);
}

/* Cards */
.product-list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
}

.product-card {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 1fr auto;
    gap: 16px;
    padding: 20px;
    border: #E6E6E6 solid 1px;
    border-radius: 4px;

}

.product-card__link {
    display: block;
    grid-column: 1/-1;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s;
}

.product-card__link:hover,
.product-card__link:focus,
.product-card__link:active {
    opacity: 0.8;
    transform: scale(1.05);
}

.product-card__image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.product-card__title {
    margin: 0;
    margin-top: 16px;
    font-size: 24px;
    line-height: 28px;
}

.product-card__description {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-price {
    margin-left: auto;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}


.product-card-button {
    display: block;
    align-self: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 22px;
    width: 140px;

}

.product-card__favorites {
    display: block;
    align-self: center;
    padding: 8px 18px;
    font-size: 16px;
    line-height: 20px;
    width: 140px;

}

.product-card__rating-stars {
    align-self: center;
    display: inline-block;
    background: url(../images/main/card-item/star-icon.svg);
    height: 17px;
    background-repeat: space;
    padding-right: 6px;
}

.one-star {
    width: 18px;
}

.two-stars {
    width: 36px;
}

.three-stars {
    width: 54px;
}

.four-stars {
    width: 72px;
}

.five-stars {
    width: 90px;
}

.product-card__rate {
    box-sizing: border-box;
    width: 140px;
    margin-left: auto;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
    padding: 8px 22px;
    background-color: #F2F2F2;
    border-radius: 4px;
}

.product-card__favorites-current {
    background-color: #7DB54F;
}

.product-card__favorites-current:hover,
.product-card__favorites-current:focus {
    background-color: #6C9E42;
}

/* Pagination */
.pagination {
    position: relative;
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 0;
    list-style-type: none;
    padding-top: 40px;
}

.pagination::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #E6E6E6;
    width: 100%;
    left: 0;
    top: 0;
}

.pagination-item {
    text-align: center;
    display: inline-block;
}

.pagination-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    max-width: 60px;
    box-sizing: border-box;
    text-align: center;
    padding: 16px 24px;
    background-color: #82B3D3;
    border-radius: 4px;
}

.pagination-next {
    padding: 16px 24px;
    display: block;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-link:hover,
.pagination-link:focus {
    background-color: #68A2CA;
}

.pagination-link:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
    background-color: #F2F2F2;
}

/* modal */
.modal {
    position: relative;
    margin: auto;
    padding: 40px;
    background-color: #ffffff;
}

.modal-auth {
    box-sizing: border-box;
    position: relative;
    width: 717px;
    background: #FFFFFF;
    opacity: 1;
    padding: 64px 70px;
}

.modal-content {
    position: relative;
}

.modal-container {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: -5px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #F2F2F2;
    border: none;
    background-image: url("../images/main/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.field-group {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 48px;
}

.modal-title {
    text-align: left;
    margin: 0;
    margin-bottom: 64px;
}

.modal-label {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-right: 18px;
    width: 121px;
}

.number__wrapper {
    display: flex;
}

.number__wrapper .modal-label {
    margin-right: 46px;
}

.date-field {
    background: #F2F2F2;
    border-radius: 4px;
    margin: 0;
    border: none;
    box-sizing: border-box;
    width: 440px;
    padding: 12px 20px;
    color: #000000;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 18px;
    position: relative;
    line-height: 24px;
}

.date__wrapper {
    position: relative;
}

.date__wrapper::after {
    position: absolute;
    content: url(../images/main/date.svg);
    right: 22px;
    top: 50%;
    transform: translateY(-50%);

}
